/* $Id: global.css,v 1.1 2010/04/28 06:24:18 Administrator Exp $*/
body {
	font-family:      sans-serif;
	font-size:        10pt;
	margin:           3pt;
	background-color: #ffffff;
}

p.system-name {
	color: #A82E2E;
	font-size:	14pt;
	font-weight:	bold;
	margin-bottom:	5px;
}

img.logo {
	margin-bottom:    5px;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #cccccc;
	text-decoration: none;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}

td {
	vertical-align: top;
}

a.popup-button {
	display: inline-block;/*	width:            160px;*/
	width:		  100%;
	text-align:       center;
	font-weight:      bold;
	font-size:        9pt;
	vertical-align: top;
	margin:           0px 1px 0px 1px;
	font-family:      Arial, sans-serif;
	background-color: #3f8495;
}

td.popup-button {
	text-align:	center;
	background-color: #3f8495;
}

a.popup-button:link {
	background-color: #3f8495;
}

a.popup-button:visited {
	background-color: #3f8495;
}

a.popup-button:hover {
	background-color: #0099aa;
	color:            #ccffff;
}

a.popup-button:visited {
	background-color: #3f8495;
}

a.window-control-button {
	display: inline-block;/*	width:            130px;*/
	width:		  100%;
	text-align:       center;
	font-weight:      bold;
	font-size:        9pt;
	margin:           0px 1px 0px 1px;
	font-family: Arial, sans-serif;
	visibility:       visible;
}

td.window-control-button {
	background-color: #a82e2e;
	text-align:	  center;
}

a.window-control-button:link {
	background-color: #a82e2e;
	color:            #ffffff;
}

a.window-control-button:visited {
	background-color: #a82e2e;
	color:            #ffffff;
}

a.window-control-button:hover {
	background-color: #cd5c5c;
	color:            #ffff99;
}

a.window-control-button:active {
	background-color: #a82e2e;
	color:            #ffffff;
}
